.game
  display: table
  border-collapse: collapse
  .row
    display: table-row
    flex-direction: row
  .cell
    display: table-cell
    width: 1rem
    height: 1rem
    background-color: yellow
    border: solid gray
  .clicked
    background-color: black